.main{
    width:350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;


    top:500px;
    left:300px;
}

.logo{
    margin-top: 0px;
    margin-bottom: 40px;
}

.container{
    padding: 3rem;
}

#login{
    width: 100%;
    background-color: skyblue;
    border-color: transparent;
    color: white;
}

.account{
    display: block;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#alert{
    border-color: transparent;
}

header{
    position: absolute;
    left: 250px;
    top: 150px;
}